@tailwind base;
@tailwind components;
@tailwind utilities;

.busines{
  background: url(./assets/image/bg-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position:120px 0;
}
